In [1]:
import pandas as pd

In [2]:
anno_df = pd.read_csv("./anno_list.csv")
anno_df.columns = anno_df.columns.str.strip()  # clear space
anno_df = anno_df.sort_values(["Code"]).reset_index(drop=True)
anno_df["Code"] = anno_df["Code"].str.strip()
anno_df["Name"] = anno_df["Name"].str.strip()
anno_df
anno_df.to_csv("./annotation26.csv", index=False)

In [3]:
cog_df = pd.read_excel("./MM_0cxd43ne.emapper.annotations.xlsx", skiprows=2)
cog_df = cog_df.loc[:, ["query", "COG_category"]]
cog_df = cog_df.iloc[:-3]
cog_df

              query COG_category
0           sll1214            F
1           slr1501            K
2           slr1119            E
3           slr1127            O
4           slr1128            O
..              ...          ...
373  WP_010872233.1            H
374  WP_020862346.1            -
375  WP_010872895.1            M
376  WP_010873195.1            -
377  WP_010871562.1            -

[378 rows x 2 columns]

In [14]:
f = open("./cog_count.txt", "wt") 

anno_dict = dict(zip(anno_df["Code"], anno_df["Name"]))
category_name = cog_df.loc[:, "COG_category"]
cog_keys = anno_dict.keys()
# print(category_name)

def get_name_ls():
    c_ls = []
    for category in category_name:
        category = list(category)
        c_ls.append(category)
    return c_ls


name_ls = get_name_ls()
count = 0

for key in cog_keys:
    count = 0
    for name in name_ls:
        if key in name:
            count += 1 
        else:
            continue
    description = anno_dict[key]
    # print(key, count, description)

    out = str(key) + "\t" + str(count) + "\t" + str(description)
    result = out + "\n"
    f.write(result)

f.close()